<h1>With whitelist</h1>
<%=
  form_for :event, routes.url(:upload), {method: :post, enctype: 'multipart/form-data'} do
    file_field :image

    submit 'Upload'
  end
%>

<h1>Without whitelist</h1>
<%=
  form_for :event, routes.url(:upload_without_whitelist), {method: :post, enctype: 'multipart/form-data'} do
    file_field :image

    submit 'Upload'
  end
%>

<h1>Not nested form value</h1>

<form action="/home/avatar" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
  <input type="submit">

</form>
